/* Carousel */
.carousel {
    box-sizing: content-box;
    overflow: hidden;
    padding-bottom: 28px;
    position: relative;
    width: 100%;
}

.carousel-panel {
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: auto;
    @include transition(left 250ms ease);
}

.carousel-item {
    float: left;
}

.carousel-indicator {
    bottom: 0;
    height: 8px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.carousel-indicator-item {
    @include hidden-text();
    display: inline-block;
    height: 8px;
    margin-right: 5px;
    position: relative;
    width: 8px;
    vertical-align: top;

    &:before {
        content: "";
        border-radius: 8px;
        border: 1px solid $color-borders;
        display: block;
        height: 6px;
        left: 0;
        position: absolute;
        top: 0;
        width: 6px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.carousel-indicator-item-active:before {
    background-color: $color-borders;
}